.menu-text {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal; /* Biarkan teks turun ke bawah jika panjang */
    line-height: 1.2;
    width: calc(100% - 30px); /* Biar teks tidak tabrakan dengan icon */
}